---
import PostCard from "../../components/PostCard.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { languages } from "../../data/data";
import BreadCrumbs from "../../components/BreadCrumbs.astro";
export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.mdx");

  const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.url))];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
const postSorted = posts.toSorted((a, b) => {
  return parseDate(b.frontmatter.pubDate) - parseDate(a.frontmatter.pubDate);
});
---

<BlogLayout
  title="Blog sobre Desarrollo web"
  metaDescription=`Blog sobre Desarrollo web, articulos sobre ${tag}`
>
  <Fragment slot="breadcrumbs">
    <BreadCrumbs
      links={[
        {
          page: "Inicio",
          url: "/blog",
        },
        {
          page: "Tags",
          url: "/tags",
          indent: false,
        },
        {
          page: tag,
          url: tag,
          current: true,
        },
      ]}
    />
  </Fragment>
  <Fragment slot="center-title">
    Mis batallas con <span class="font-semibold capitalize text-4xl">{tag}</span
    >
  </Fragment>
  <Fragment slot="blog-center">
    <div class="">
      {
        languages
          .find((lang) => lang.name === tag)
          .description.map((paragraph) => {
            return <p>{paragraph}</p>;
          })
      }
    </div>
  </Fragment>
  <Fragment slot="blog-footer">
    <div class="flex flex-col gap-y-3">
      <h2 class="text-3xl">Posts</h2>
      <ul class="flex flex-col gap-y-6">
        {
          postSorted.map((post) => (
            <li>
              <PostCard
                url={post.url}
                title={post.frontmatter.title}
                date={post.frontmatter.pubDate}
                lastModified=""
              />
            </li>
          ))
        }
      </ul>
    </div>
  </Fragment>
</BlogLayout>
