---
import BreadCrumbs from "../components/BreadCrumbs.astro";
import BlogLayout from "./BlogLayout.astro";
const { frontmatter } = Astro.props;
const { title, metaDescription } = frontmatter;
---

<BlogLayout title={title} metaDescription={metaDescription}>
  <Fragment slot="breadcrumbs">
    <BreadCrumbs
      links={[
        {
          page: "Inicio",
          url: "/blog",
        },
        {
          page: `${title}`,
          url: `/${title}`,
          current: true,
        },
      ]}
    />
  </Fragment>
  <Fragment slot="center-title">{title}</Fragment>
  <Fragment slot="center">
    <div class="post-content">
      <slot />
    </div>
  </Fragment>
</BlogLayout>
